img{
 max-width: 100%;
 max-height: 100%;
}

body{
 height: inherit;
 margin: 0;
 padding: 0;
 border: 0px;
 line-height: 1;
}

a{
 text-decoration: none;
 font-size: 1.5em;
}


header{
 font-family: 'Muli', sans-serif;
 margin: 0 auto;
 width: 85%;
 display: flex;
 margin-top: 15px;
 flex-flow: column-reverse;
}

.main{
 font-family: 'Sunflower', sans-serif;
 margin: 0 auto;
 width: 70%;
 margin-bottom: 20px;
 font-size: 1.25em;
}

.nav{
 margin-bottom: 20px;
 display: grid;
 grid-row-gap: 10px;
 width: 25%;
}

.nav a{
 padding: 5px 10px 5px 10px;
 background: grey;
 margin: 0px 5px 0px 5px;
 text-align: center;
 color: white;
}

.title{
 padding: 20px;
 align-self: center;
}

.images{
 display: flex;
 flex-flow: column;
 align-items: center;
}

.image{
 border-radius: 10px;
 box-shadow: 13px 12px 5px -5px dimgrey;
 margin-bottom: 15px;
}

.self{
 font-size: 1em;
}

.interest{
 font-size: 1em;
}

.cform{
 margin: 0 auto;
 width: 50%;
}

.contact{
 margin: 0 auto;
 width: 50%;
 border: 2px solid black;
 padding: 15px 10px 15px 10px;
 border-radius: 5px;
}

.contact input, textarea{
 display: block;
 margin-bottom: 5px;
}

.footer{
 text-align: center;

}

.footer a{
 margin: 0px 10px 0px 0px;
 color: darkgrey;
}

a:hover{
 color: pink;
}

@media screen and (min-width: 768px){
  header{
   flex-flow: column;
   justify-content: center;
  }

  .nav{
   display: block;
   align-self: flex-end;
   width: auto;
  }

  .images{
   justify-content: space-around;
   flex-flow: row;
  }

  .image{
   margin-bottom: 5px;
  }
}
